.Home{
  background: url("https://i.stack.imgur.com/HonLJ.jpg") no-repeat center fixed;
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  background-attachment: cover;
}

.navbar {
  border-style: solid;
  border-color: burlywood;
  background-color: white; opacity: 0.5;
  position: fixed;
  top:0;
  width: 100%;
  padding: 5px; 
}

.navtext {

}

.login-body {
  background: url("https://i.stack.imgur.com/HonLJ.jpg") no-repeat center fixed;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
}

.zora-container{
  position:fixed; 
  background-color: white; opacity: 0.5;
  left:1000px; 
  top:200px;
  width: 150px;
  height: 50px;
  text-align: center;
  border-style: solid;
  border-color: burlywood;
  margin: 20px
}

.castle-container{
  position:fixed; 
  background-color: white; opacity: 0.5;
  left:590px; 
  top:230px;
  width: 150px;
  height: 50px;
  text-align: center;
  border-style: solid;
  border-color: burlywood;
  margin: 20px
}
.card-title{
  font-size: 20px;
  color: black;
  font-style: italic;
}

.gerudo-container{
  position:fixed; 
  background-color: white;opacity: 0.5;
  left:50px; 
  top:550px;
  width: 150px;
  height: 50px;
  text-align: center;
  border-style: solid;
  border-color: burlywood;
  margin: 20px
}

.login{
  
  border-style: solid;
  border-color: burlywood;
  position:fixed; 
  background-color: white; opacity: 0.8;
  left:590px; 
  top:230px;
  height: 75px;
  width: 250px;
  text-align: center;
  padding-top: 20px;
}

.login-text{
  width: 180px;
  padding-bottom: 5px;
}

.login-submit{
  padding-top: 6px;
  padding: 5px;
}

 .quests-title{
  font-size: 25px;
  font-style: italic;
  color: gold;
  text-align: center;
} 

.quests-box{
  position:fixed; 
  background-color: white; opacity: 0.5;
  width: 300px;
  height: auto;
  text-align: center;
  border-style: solid;
  border-color: burlywood;
  margin: 20px;
  padding: 20px;
  left:590px; 
  top:230px;
} 

.add-form{
  position:fixed; 
  background-color: white; opacity: 0.5;
  width: 300px;
  height: auto;
  text-align: center;
  border-style: solid;
  border-color: burlywood;
  margin: 20px;
  padding: 20px;
  left:590px; 
  top:230px;
}
